<table class="table table-bordered table-fixed-header">
  <thead class="header">
  <tr role="row">
    <th>Day/Time</th>
    <% @rooms.each do |room| %>
    <th><%= room %></th>
    <% end %>
  </tr>
  </thead>
  <% @day = @timegroups.first[1].first.conference_day %>
  <% @timegroups.each do |timegroup| %>
    <% @f = timegroup[1].first
       if @f.conference_day != @day
         @day = @f.conference_day %>
       <tr class="sep">
    <% else %>
       <tr>
    <% end %>
    <% formattedDate = @f.start_time.strftime("%a %-I:%M%P - ") + @f.end_time.strftime("%-I:%M%P") %>
    <td><%= formattedDate %></td>
    <% if @f.exclusive_session %>
        <td bgcolor="#7fffd4" colspan="100%"><%= "#{@f.session} (#{@f.room})" %></td>
        </tr>
    <% else %>
        <% @roomgroups = timegroup[1].group_by(&:room)
           @rooms.each do |room| %>
            <% if @roomgroups[room]
                if @roomgroups[room].first.available %>
                    <% topic = find_space_time_topic(@roomgroups[room].first.id) %>
                    <% if topic %>
                          <td class="spacetime occupied" id="<%= @roomgroups[room].first.id %>" bgcolor="green">
                            <div class="topic">
                              <%= topic.title %><br />
                              <%= topic.description %><br />
                              Convened by: <%= find_user_name_by_id(topic.user_id) %>
                            </div>
                          </td>
                    <% else %>
                          <td class="spacetime can-add" id="<%= @roomgroups[room].first.id %>" data-room="<%= room %>" data-time="<%= formattedDate %>"
                              bgcolor="green"></td>
                    <% end %>
                <% else %>
                    <td bgcolor="black"></td>
              <% end
            end
        end %>
      </tr>
    <% end %>
  <% end %>
</table>
<div class="modal fade" id="myModal" role="dialog" data-remote="/topics/new">
</div>

