<h1>SpaceTimes (simple view)</h1>
<table border="1">
  <thead>
    <tr>
      <th>Room</th>
      <th>Session</th>
      <th>Start</th>
      <th>End</th>
      <th>Available</th>
    </tr>
  </thead>
  <% @spacetimes.each do |spctime| %>
      <tr>
        <td><%= spctime.room %></td>
        <td><%= spctime.sesson %></td>
        <td><%= spctime.start_time.strftime("%A %I:%M %p") %></td>
        <td><%= spctime.end_time.strftime("%A %I:%M %p") %></td>
        <td><%= spctime.available %></td>
      </tr>
  <% end %>
</table>
